*{
    margin:0;
    padding:0;
    list-style-type:none;        
}
body{background:#2d2c41;height:100%;font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;padding-bottom:30px;}


h3{color:#333;font-size:14px;text-align:center;margin:20px 0;}

/* box */

.box{width:400px;height:600px;margin:10px auto 0;background:#2d2c41;border:1px solid #d3d3d3;} 

.tab_menu{overflow:hidden;}

.tab_menu li{width:100px;float:left;height:30px;line-height:30px;color:#fff;background:#093;text-align:center;cursor:pointer;}

.tab_menu li.current{color:#333;background:#fff;}

.tab_menu li a{color:#fff;text-decoration:none;}

.tab_menu li.current a{color:#333;}

.tab_box{padding:5px;}

.tab_box .hide{display:none;}}