<div class="chatBox">
    <div class="chatLeft">
        <div class="chat01">
            <div class="chat01_title">
                <ul class="talkTo">
                    <li><a href="javascript:;">王旭</a></li>
                </ul>
                <a class="close_btn" href="javascript:;"></a>
            </div>
            <div class="chat01_content">
                <div class="message_box mes1">          
                </div>
                <div class="message_box mes2">
                </div>
                <div class="message_box mes3" style="display: block;">
                </div>
                <div class="message_box mes4">
                </div>
                <div class="message_box mes5">
                </div>
                <div class="message_box mes6">
                </div>
                <div class="message_box mes7">
                </div>
                <div class="message_box mes8">
                </div>
                <div class="message_box mes9">
                </div>
                <div class="message_box mes10">
                </div>
            </div>
        </div>
        <div class="chat02">
            <div class="chat02_title">
                <a class="chat02_title_btn ctb01" href="javascript:;"></a>
                <a class="chat02_title_btn ctb02" href="javascript:;"
                    title="选择文件">
                    <embed width="15" height="16" flashvars="swfid=2556975203&amp;maxSumSize=50&amp;maxFileSize=50&amp;maxFileNum=1&amp;multiSelect=0&amp;uploadAPI=http%3A%2F%2Fupload.api.weibo.com%2F2%2Fmss%2Fupload.json%3Fsource%3D209678993%26tuid%3D1887188824&amp;initFun=STK.webim.ui.chatWindow.msgToolBar.upload.initFun&amp;sucFun=STK.webim.ui.chatWindow.msgToolBar.upload.sucFun&amp;errFun=STK.webim.ui.chatWindow.msgToolBar.upload.errFun&amp;beginFun=STK.webim.ui.chatWindow.msgToolBar.upload.beginFun&amp;showTipFun=STK.webim.ui.chatWindow.msgToolBar.upload.showTipFun&amp;hiddenTipFun=STK.webim.ui.chatWindow.msgToolBar.upload.hiddenTipFun&amp;areaInfo=0-16|12-16&amp;fExt=*.jpg;*.gif;*.jpeg;*.png|*&amp;fExtDec=选择图片|选择文件"
                        data="upload.swf" wmode="transparent" bgcolor="" allowscriptaccess="always" allowfullscreen="true"
                        scale="noScale" menu="false" type="application/x-shockwave-flash" src="http://service.weibo.com/staticjs/tools/upload.swf?v=36c9997f1313d1c4"
                        id="swf_3140">
                </a>
                <a class="chat02_title_btn ctb03" href="javascript:;" title="选择附件">
                    <embed width="15" height="16" flashvars="swfid=2556975203&amp;maxSumSize=50&amp;maxFileSize=50&amp;maxFileNum=1&amp;multiSelect=0&amp;uploadAPI=http%3A%2F%2Fupload.api.weibo.com%2F2%2Fmss%2Fupload.json%3Fsource%3D209678993%26tuid%3D1887188824&amp;initFun=STK.webim.ui.chatWindow.msgToolBar.upload.initFun&amp;sucFun=STK.webim.ui.chatWindow.msgToolBar.upload.sucFun&amp;errFun=STK.webim.ui.chatWindow.msgToolBar.upload.errFun&amp;beginFun=STK.webim.ui.chatWindow.msgToolBar.upload.beginFun&amp;showTipFun=STK.webim.ui.chatWindow.msgToolBar.upload.showTipFun&amp;hiddenTipFun=STK.webim.ui.chatWindow.msgToolBar.upload.hiddenTipFun&amp;areaInfo=0-16|12-16&amp;fExt=*.jpg;*.gif;*.jpeg;*.png|*&amp;fExtDec=选择图片|选择文件"
                        data="upload.swf" wmode="transparent" bgcolor="" allowscriptaccess="always" allowfullscreen="true"
                        scale="noScale" menu="false" type="application/x-shockwave-flash" src="http://service.weibo.com/staticjs/tools/upload.swf?v=36c9997f1313d1c4"
                        id="swf_3140">
                </a>

                <label class="chat02_title_t">
                <a href="chat.htm" target="_blank">聊天记录</a></label>
                <div class="wl_faces_box">
                    <div class="wl_faces_content">
                        <div class="title">
                            <ul>
                                <li class="title_name">常用表情</li>
                                <li class="wl_faces_close"><span>&nbsp;</span></li>
                            </ul>
                        </div>
                        <div class="wl_faces_main">
                            <ul>
                                {% for index in emos %}
                                    <li><a href="javascript:;">
                                        <img src="http://127.0.0.1:3000/static/img/emo_{{index}}.gif" /></a>
                                    </li>                                    
                                {% endfor %}
                                <!-- all have 60 emos -->
                            </ul>
                        </div>
                    </div>
                    <div class="wlf_icon">
                    </div>
                </div>
            </div>
            <div class="chat02_content">
                <textarea id="textarea"></textarea>
            </div>
            <div class="chat02_bar">
                <ul>
                    <li style="left: 20px; top: 10px; padding-left: 30px;">ads here<a href="http://www.jq22.com/" target="_blank">Ads here</a></li>
                    <li style="right: 5px; top: 5px;"><a href="javascript:;">
                    <img src="http://localhost:3000/static/img/send_btn.jpg"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="chatRight">
        <div class="chat03">
            <div class="chat03_title">
                <label class="chat03_title_t">
                成员列表</label>
            </div>
            <div class="chat03_content">
                <ul>
                    {% for user in users %}                        
                        <li>
                            <label class="{{user.state}}">
                            </label>
                            <a href="javascript:;">
                            <img src="{{user.headurl}}"></a><a href="javascript:;"
                                class="chat03_name">{{user.name}}</a>
                        </li>
                    {% endfor %}  
                </ul>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>